<h1>Skills</h1>
<h3>Low on food. Please hire me.</h3>

<ul>
  <% @skills.each do |skill| %>
    <li><%= link_to skill.name, skill_path(skill) %></li>
  <% end %>
</ul>

<p><%= link_to "Add a new skill", new_skill_path %></p>
